global:
  language: {{ .global.Language | lower }}
  variant: {{ .global.Variant | lower }}
{{- if or .rust.Crates .noBinaries }}
release:
  {{- if .noBinaries }}
  # For Rust application variant, binaries are not automatically built
  no-binaries: true
  {{- end }}
  {{- if .rust.Crates }}
  # The list of Rust crates that are going to be 'cargo publish', ordering is not important.
  rust-crates:
  {{- range $crate := .rust.Crates }}
  - {{ $crate }}
  {{- end }}
  {{- end }}
{{- end }}